APP_ENV=local
APP_URL=http://localhost:8080
APP_NAME="Codega Finans"

DB_CONNECTION=sqlite
DB_DATABASE=storage/codega_finans.sqlite

# MySQL icin:
# DB_CONNECTION=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_DATABASE=codega_finans
# DB_USERNAME=root
# DB_PASSWORD=
